#header {
	background: #00C1FF;
	font-family: 'barrio', 'pacifico', 'comic sans';
	font-family: 'Press Start 2P', cursive;
	margin: 10px 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 20px inset #0C47E8;
	text-align: center;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 20px blue;
	letter-spacing: 3px;
	box-shadow: 0 0 10px 3px #0448E8;
}

#definition {
	font-family: 'press start 2p', 'barrio', 'comic sans';
	color: white;
	text-align: center;
	background: linear-gradient(#00C1FF, #0081aa);
	border-top: 3px inset blue;
	font-size: 25px;
	height: 40px;
	padding-bottom: 40px;
	padding-left: 10%;
	padding-right: 10%;
	display: none;
	padding-top: 10px;
}

#btn_group {
	text-align: center;
}

#btn_hid {
	display: none;
}

.btn, #startScreen {
	background: #00C1FF;
	font-family: 'barrio', 'pacifico', 'comic sans';
	font-size: 20px;
	border: 5px inset blue;
	border-radius: 10px;
	color: white;
	text-shadow: 1px 1px 5px blue;
	cursor: pointer;
}

.btn:hover, #startScreen:hover {
	text-shadow: 1px 1px 5px white;
	border-radius: 11px;
	border: 5px inset #0448E8;
}

#play {
	padding: 20px;
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 40px
}

#answer {
	font-family: 'press start 2p', 'barrio', 'comic sans';
	padding-left: 10px;
	width: 300px;
	height: 25px;
	border: 2px inset #0448E8;
}

.letters {
	background: #d2ff52;
	background: radial-gradient(#ffaa00 40%, #775717);
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 45px;
	width: 45px;
	color: black;
	margin: 30px 15px;
	border: 5px inset #02D1FF;
	border-radius: 50px;
	box-shadow: 0 0 5px 1px #0448E8;
	animation: forwards;
}

#letters_group {
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
	display: none;
}

.letter-true {
	background: #b8ff07;
	background: radial-gradient(#b8ff07 40%, #6e9903)!important;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 45px;
	width: 45px;
	color: black;
	margin: 30px 15px;
	border: 5px inset #02D1FF;
	border-radius: 50px;
	box-shadow: 0 0 5px 1px #0448E8;
	animation: forwards;
}

.letter-false {
	background: #ff0f0f;
	background: radial-gradient(#ff0f0f 40%, #840606)!important;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	line-height: 45px;
	width: 45px;
	color: black;
	margin: 30px 15px;
	border: 5px inset #02D1FF;
	border-radius: 50px;
	box-shadow: 0 0 5px 1px #0448E8;
	animation: forwards;
}

#results_div {
	text-align: center;
	font-family: "press start 2p";
	margin-top: 50px; 
	margin-bottom: 50px;
}

#gameOver {
	background: radial-gradient(#ff0f0f 40%, #840606)!important;
	font-family: 'press start 2p', 'barrio', 'pacifico', 'comic sans';
	font-size: 80px;
	border: 5px inset black;
	border-radius: 20px;
	color: white;
	text-shadow: 1px 1px 5px black;
	cursor: pointer;
	padding: 40px;
	text-align: center;
	display: none;
	margin: auto;
}

#gameOver:hover {
	text-shadow: 0px 0px 5px white;
	border-radius: 21px;
}

#startScreen {
	display: none;
	text-align: center;
	margin: auto;
	padding: 10px;
	font-size: 25px;
}

#stop {
	background: radial-gradient(#ffaa00 40%, #775717);
	font-family: 'barrio', 'pacifico', 'comic sans';
	font-size: 20px;
	border: 5px inset blue;
	border-radius: 10px;
	color: white;
	text-shadow: 1px 1px 5px blue;
	cursor: pointer;	
}

#stop:hover {
	text-shadow: 1px 1px 5px white;
	border-radius: 11px;
	border: 5px inset #0448E8;
}

#animation_hid {
	display: none;
	position: absolute;
	right: 50px;
	top: 510px;
}

#animation_hid img {
	width: 130px;
	height: auto;
}

#megaman_hid {
	display: none;
	position: absolute;
	right: 50px;
	top: 520px;
}

#megaman_hid img {
    width: 130px;
    height: auto;
}

#div_name {
	display: none;
	text-align: center;
}

#name {
	font-family: 'press start 2p', 'barrio', 'comic sans';
	padding-left: 10px;
	width: 300px;
	height: 25px;
	border: 2px inset #0448E8;
}

#highscores {
	padding: 15px;
	font-size: 35px;
	text-align: center;
	margin-left: 41.5%;
	}

#ranking_show {
	display: none;
	text-align: center;
}

#title_class {
	text-align: center;
	font-family: 'press start 2p', 'barrio', 'comic sans';
	color: white;
	background: linear-gradient(#00C1FF, #0081aa);
	border-top: 3px inset blue;
	font-size: 25px;
	height: 40px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 25px;
}

#soundBtn {
	background: radial-gradient(#ffaa00 40%, #775717);
	font-family: 'press start 2p', 'barrio', 'comic sans';
	font-size: 10px;
	padding: 10px;
	border: 5px inset #02D1FF;
	border-radius: 50px;
	box-shadow: 0 0 5px 1px #0448E8;
	text-align: center;
	margin-left: 10px;
	margin-top: -50px;
	position: absolute;
	}

#ol_list {
	font-size: 20px;
	font-family: 'comic sans';
	list-style: none;
}

#heroes {
	margin-left: 840px;
	margin-top: -190px;
	position: absolute;
}